---
import AboutHeroImage from "../assets/blog-placeholder-about.jpg";
import Layout from "../layouts/BlogPost.astro";
---

<Layout
	title="About"
	description="Welcome to my web space repo!"
	pubDate={new Date("February 20 2026")}
	heroImage={AboutHeroImage}
>
	<p>
		Currently hosted at <a href="https://jottanovaes.github.io"
			>jottanovaes.github.io</a
		>, this project acts as my base on the internet. In the future, it will
		get a new home at <code>jotta.dev</code>.
	</p>

	<h2>What is this project?</h2>
	<p>
		I created this repo to share my professional and personal interests. The
		main focus is <strong>programming and technology</strong>, but with the
		freedom to post as a personal blog.
	</p>

	<h2>What I hope you will find here:</h2>
	<ul>
		<li>
			<strong>Code and Projects: </strong>What I am building and
			experimenting with in web development.
		</li>
		<li>
			<strong>Learning Diary: </strong>Notes, articles, and thoughts on the
			technologies I'm studying.
		</li>
		<li>
			<strong>Worldview: </strong>A free space to share photos, ideas,
			inspirations, and things I find interesting in my daily life.
		</li>
	</ul>

	<h2>Next Steps</h2>
	<ul>
		<li>
			<input type="checkbox" disabled checked />Deploy the first static
			version of the site (Base portfolio).
		</li>
		<li>
			<input type="checkbox" disabled />Create the feed/blog section for
			short posts and photos.
		</li>
		<li>
			<input type="checkbox" disabled />Configure and migrate to the
			custom domain <code>jotta.dev</code>.
		</li>
	</ul>
</Layout>
